asgiref==3.8.1
click==8.1.7
colorama==0.4.6
distlib==0.3.8
Django==5.0.6
filelock==3.14.0
gunicorn==23.0.0
h11==0.14.0
packaging==24.2
pillow==10.4.0
platformdirs==4.2.2
sqlparse==0.5.0
tzdata==2024.1
uvicorn==0.34.0
virtualenv==20.26.2
waitress==3.0.2
whitenoise==6.8.2
